body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'sans-serif', sans-serif, monospace;
}

.App {
  text-align: center;
  margin: 2rem;
}

h1 {
  font-weight: bold;
}

h1:hover {
  color: #648fff;
  background-color: #f1f1f1;
}

h2 {
  /* You can add additional styles here */
}

h2:hover {
  color: #785ef0;
  background-color: #f1f1f1;
}

h4 {
  /* You can add additional styles here */
}

h4:hover {
  color: #ffb000;
  background-color: #f1f1f1;
}

.link-section {
  margin: 1rem 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-item {
  margin: 0.5rem 0;
  color: black;
  text-decoration: none;
  padding: 5px; /* Added padding for hover background */
}

/* Existing hover styles */
.link-item.twitter:hover {
  color: #648fff;
  background-color: #f1f1f1;
}

.link-item.github:hover {
  color: #785ef0;
  background-color: #f1f1f1;
}

.link-item.farcaster:hover {
  color: #ffb000;
  background-color: #f1f1f1;
}

.link-item.lens:hover {
  color: #fe6100;
  background-color: #f1f1f1;
}

.link-item.bluesky:hover {
  color: #dc267f;
  background-color: #f1f1f1;
}

/* New hover styles for new link items */

/* Chats & Guilds Section */
.link-item.cag:hover {
  color: #9370DB;
  background-color: #f1f1f1;
}

.link-item.discord:hover {
  color: #4B0082;
  background-color: #f1f1f1;
}

.link-item.tg\:marketual research unit:hover {
  color: #7B68EE;
  background-color: #f1f1f1;
}

.link-item.tg\:unconditional acceleration:hover {
  color: #8B008B;
  background-color: #f1f1f1;
}

.link-item.tg\:farcaster istanbul:hover {
  color: #9400D3;
  background-color: #f1f1f1;
}

.link-item.tg\:devcoffee:hover {
  color: #9932CC;
  background-color: #f1f1f1;
}

.link-item.tg\:writing nfts:hover {
  color: #BA55D3;
  background-color: #f1f1f1;
}

.link-item.matrix:hover {
  color: #DA70D6;
  background-color: #f1f1f1;
}

/* Aggregators Section */
.link-item.linktree:hover {
  color: #EE82EE;
  background-color: #f1f1f1;
}

.link-item.nftd:hover {
  color: #FF00FF;
  background-color: #f1f1f1;
}

.link-item.luma:hover {
  color: #DB7093;
  background-color: #f1f1f1;
}

.link-item.card co:hover {
  color: #FF1493;
  background-color: #f1f1f1;
}

.link-item.read cv:hover {
  color: #C71585;
  background-color: #f1f1f1;
}
